[Unit]
Description=LizardFS master server daemon
Documentation=man:mfsmaster
After=network.target
Wants=network-online.target

[Service]
Type=notify
TimeoutSec=0
ExecStart=/usr/sbin/mfsmaster -d start
ExecReload=/bin/kill -HUP $MAINPID
Restart=no
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target
